@page "/jokes"

<MudContainer Class="jokes-container">
    <MudText Typo="Typo.h4" Align="Align.Center">Jokes</MudText>
    <MudPaper Class="pa-4 mt-4 jokes-paper">
        <MudText Typo="Typo.h6">Dave's side note:</MudText>
        <MudText Typo="Typo.body1">
            Sometimes a joke is generated with a **Null** value for the Setup and Delivery of the Joke. If that happens click to generate a new joke until you see a new one appear. 
            <br/> 
            The request and response are still valid and can be seen within the Logs.
        </MudText>
    </MudPaper>
    <MudPaper Class="pa-4 mt-4 jokes-paper">
        <MudText Typo="Typo.body1">Select Flags to Blacklist</MudText>
        <div Class="jokes-flags">
            @foreach (var flag in BlacklistFlags)
            {
                <MudCheckBox T="bool" Label="@flag" @bind-value="@SelectedFlags[flag]" />
            }
        </div>
        <div Class="jokes-api-url">
            <MudText Typo="Typo.body1">API Url: </MudText>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <MudText Variant="Variant.Filled" Color="Color.Primary">@_displayUrl</MudText>
        </div>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="GetJoke" Class="mt-4">
            Generate New Joke
        </MudButton>
    </MudPaper>
    <MudPaper Class="pa-4 mt-4 jokes-paper">
        <MudText Typo="Typo.body1" Align="Align.Center">Joke Text</MudText>
        <MudText Variant="Variant.Filled" Color="Color.Primary" Class="mt-4">
            @if (_isLoading)
            {
                <div class="loading-indicator">
                    Loading...
                </div>
            }
            @jokeText
        </MudText>
    </MudPaper>
</MudContainer>
