@page "/jokes"

<h3>Jokes</h3>

<button @onclick="GetJoke">Get Joke</button>
<p>@jokeText</p>

@code {
    private string jokeText;
    private const string RequestUri = "https://sv443.net/jokeapi/v2/joke/Any";

    // TODO: Update API Call to use Blacklist Flags 

    private async Task GetJoke()
    {
        HttpClient client = new HttpClient();
        HttpResponseMessage response = await client.GetAsync(RequestUri);
        if (response.IsSuccessStatusCode)
        {
            Joke joke = await response.Content.ReadFromJsonAsync<Joke>();
            jokeText = $"{joke.Setup} \r\n {joke.Delivery}";
        }
        else
        {
            jokeText = "Failed to retrieve joke";
        }
    }

    public class Joke
    {
        public string Setup { get; set; }
        public string Delivery { get; set; }
    }
}
