@page "/about"

<PageTitle>About</PageTitle>

<MudPaper Height="80vh" Style="margin-top: 35px;">
    <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">About</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    @* <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" /> *@
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                <MudText>This is a sample Blazor application using MudBlazor.</MudText>
                <MudText>MudBlazor is a component library for Blazor that provides ready-to-use UI components.</MudText>
                <MudText>This application also utilizes Serilog for logging.</MudText>
                <MudText>Additionally, it integrates with the Joke API to display random jokes with optional parameters.</MudText>
            </MudCardContent>
            <MudCardActions>
                @* <MudButton Color="Color.Primary"></MudButton> *@
            </MudCardActions>
        </MudCard>
    </div>
</MudPaper>