@page "/counter"
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<MudPaper Height="80vh" Style="margin-top: 35px;">
    <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Counter</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    @* <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" /> *@
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                <MudText>This is a MudBlazor version of the default Blazor Counter.razor page.</MudText>
                <MudText Typo="Typo.h4">Current Count: @currentCount</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Color="Color.Primary" OnClick="IncrementCount">Click me</MudButton>
            </MudCardActions>
        </MudCard>
    </div>
</MudPaper>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
